.cart {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #1f1f1f;
  color: aliceblue;
  margin: 0;
  padding: 0;
}
.cart .div {
  background-color: #1f1f1f;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.cart .back {
  position: absolute;
  width: 60px;
  height: 16px;
  top: 67px;
  left: 1278px;
}

.cart .text-wrapper {
  width: 60px;
  height: 8px;
  top: 3px;
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .div-wrapper {
  width: 52px;
  top: 67px;
  left: 102px;
  position: absolute;
  height: 16px;
}

.cart .text-wrapper-2 {
  top: -1px;
  left: 0;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #ffe61b;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
  white-space: nowrap;
  position: absolute;
  height: 16px;
}

.cart .group {
  position: absolute;
  width: 1312px;
  height: 791px;
  top: 133px;
  left: 64px;
}

.cart .overlap-group-wrapper {
  position: absolute;
  width: 186px;
  height: 55px;
  top: 450px;
  left: 526px;
}

.cart .overlap-group {
  position: relative;
  width: 184px;
  height: 55px;
  background-color: #ffe61b;
  border-radius: 15px;
}

.cart .text-wrapper-3 {
  position: absolute;
  width: 153px;
  height: 16px;
  top: 20px;
  left: 15px;
  font-family: 'Space Grotesk-SemiBold', Helvetica;
  font-weight: 600;
  color: #1f1f1f;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .line {
  top: 46px;
  position: absolute;
  width: 1223px;
  height: 1px;
  left: 0;
  background-color: #ffe61b;
}

.cart .line-2 {
  top: 350px;
  position: absolute;
  width: 1223px;
  height: 1px;
  left: 0;
  background-color: #ffe61b;
}

.cart .group-2 {
  position: absolute;
  width: 611px;
  height: 16px;
  top: 0;
  left: 618px;
}

.cart .text-wrapper-4 {
  width: 166px;
  height: 16px;
  top: 0;
  text-align: center;
  position: absolute;
  left: 0;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .text-wrapper-5 {
  position: absolute;
  width: 166px;
  height: 16px;
  top: 0;
  left: 209px;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .text-wrapper-6 {
  position: absolute;
  width: 166px;
  height: 16px;
  top: 0;
  left: 439px;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .group-3 {
  position: absolute;
  width: 1318px;
  height: 231px;
  top: 77px;
  left: 0;
}

.cart .image {
  position: absolute;
  width: 173px;
  height: 231px;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 30px;
}

.cart .text-wrapper-7 {
  position: absolute;
  width: 345px;
  height: 16px;
  top: 108px;
  left: 223px;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .text-wrapper-8 {
  top: 108px;
  left: 618px;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  position: absolute;
  width: 166px;
  height: 16px;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .text-wrapper-9 {
  top: 108px;
  left: 1057px;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  position: absolute;
  width: 166px;
  height: 16px;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .group-4 {
  position: absolute;
  width: 155px;
  height: 39px;
  top: 96px;
  left: 834px;
}

.cart .plus {
  left: 0;
  position: absolute;
  width: 39px;
  height: 39px;
  top: 0;
}

.cart .img {
  left: 114px;
  position: absolute;
  width: 39px;
  height: 39px;
  top: 0;
}

.cart .text-wrapper-10 {
  position: absolute;
  width: 35px;
  height: 39px;
  top: 8px;
  left: 59px;
  font-family: 'Space Grotesk-SemiBold', Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .close-square {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 96px;
  left: 1273px;
}

.cart .group-6 {
  position: absolute;
  width: 323px;
  height: 16px;
  top: 410px;
  left: 465px;
}

.cart .text-wrapper-11 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 0;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .text-wrapper-12 {
  top: 0;
  left: 153px;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  position: absolute;
  width: 166px;
  height: 16px;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.plus {
  cursor: pointer;
}

.img {
  cursor: pointer;
}

.close-square {
  cursor: pointer;
}

.button .overlap-group {
  cursor: pointer;
}
