.cart {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cart .div {
  background-color: #1f1f1f;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.cart .back {
  position: absolute;
  width: 60px;
  height: 16px;
  top: 67px;
  left: 1278px;
}

.cart .text-wrapper {
  position: absolute;
  width: 60px;
  height: 8px;
  top: 3px;
  left: 0;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .overlap-group {
  position: absolute;
  width: 971px;
  height: 577px;
  top: 0;
  left: 0;
}

.cart .contact {
  width: 134px;
  top: 67px;
  left: 102px;
  position: absolute;
  height: 16px;
}

.cart .text-wrapper-2 {
  width: 183px;
  top: -1px;
  left: 0;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffe61b;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
  position: absolute;
  height: 16px;
}

.cart .group {
  position: absolute;
  width: 498px;
  height: 130px;
  top: 447px;
  left: 473px;
}

.cart .icon-instagram {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 48px;
  left: 0;
}

.cart .icon-whatsapp {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.cart .group-2 {
  position: absolute;
  width: 490px;
  height: 27px;
  top: 103px;
  left: 6px;
}

.cart .vector {
  position: absolute;
  width: 36px;
  height: 27px;
  top: 0;
  left: 0;
}

.cart .text-wrapper-3 {
  position: absolute;
  height: 16px;
  top: 5px;
  left: 62px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
  white-space: nowrap;
}

.cart .text-wrapper-4 {
  position: absolute;
  height: 16px;
  top: 64px;
  left: 68px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
  white-space: nowrap;
}

.cart .text-wrapper-5 {
  position: absolute;
  height: 16px;
  top: 16px;
  left: 68px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
  white-space: nowrap;
}

.cart .img {
  position: absolute;
  width: 498px;
  height: 501px;
  top: 0;
  left: 0;
  transform: rotate(143deg);
}

.cart .group-3 {
  position: absolute;
  width: 422px;
  height: 478px;
  top: 546px;
  left: 1018px;
}
