.cart {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cart .div {
  background-color: #1f1f1f;
  width: 1440px;
  height: 2210px;
  position: relative;
}

.cart .back {
  position: absolute;
  width: 60px;
  height: 16px;
  top: 166px;
  left: 1278px;
}

.cart .text-wrapper {
  width: 60px;
  height: 8px;
  top: 3px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  left: 0;
  color: #d9d9d9;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .div-wrapper {
  width: 52px;
  top: 166px;
  left: 102px;
  position: absolute;
  height: 16px;
}

.cart .text-wrapper-2 {
  top: -1px;
  left: 0;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffe61b;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
  white-space: nowrap;
  position: absolute;
  height: 16px;
}

.cart .group {
  position: absolute;
  width: 922px;
  height: 165px;
  top: 389px;
  left: 252px;
}

.cart .line {
  top: 46px;
  position: absolute;
  width: 914px;
  height: 1px;
  left: 0;
  background-color: #ffe61b;
}

.cart .text-wrapper-3 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .text-wrapper-4 {
  position: absolute;
  width: 500px;
  height: 16px;
  top: 77px;
  left: 0;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .text-wrapper-5 {
  position: absolute;
  width: 500px;
  height: 16px;
  top: 113px;
  left: 0;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .text-wrapper-6 {
  position: absolute;
  width: 914px;
  height: 16px;
  top: 149px;
  left: 0;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .group-2 {
  position: absolute;
  width: 914px;
  height: 176px;
  top: 1275px;
  left: 252px;
}

.cart .group-3 {
  position: absolute;
  width: 916px;
  height: 47px;
  top: 0;
  left: 0;
}

.cart .overlap-group {
  position: absolute;
  width: 647px;
  height: 21px;
  top: 76px;
  left: 0;
}

.cart .group-4 {
  position: absolute;
  width: 97px;
  height: 20px;
  top: 1px;
  left: 0;
}

.cart .text-wrapper-7 {
  width: 60px;
  position: absolute;
  height: 16px;
  top: 2px;
  left: 35px;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .rb-sfd {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.cart .group-5 {
  position: absolute;
  width: 647px;
  height: 20px;
  top: 0;
  left: 0;
}

.cart .group-6 {
  position: absolute;
  width: 187px;
  height: 20px;
  top: 0;
  left: 0;
}

.cart .text-wrapper-8 {
  width: 150px;
  position: absolute;
  height: 16px;
  top: 2px;
  left: 35px;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .text-wrapper-9 {
  position: absolute;
  width: 410px;
  height: 16px;
  top: 2px;
  left: 235px;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .group-7 {
  position: absolute;
  width: 647px;
  height: 20px;
  top: 116px;
  left: 0;
}

.cart .text-wrapper-10 {
  position: absolute;
  height: 16px;
  top: 2px;
  left: 235px;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .group-8 {
  position: absolute;
  width: 647px;
  height: 20px;
  top: 156px;
  left: 0;
}

.cart .group-9 {
  position: absolute;
  width: 939px;
  height: 474px;
  top: 754px;
  left: 252px;
}

.cart .line-2 {
  top: 240px;
  position: absolute;
  width: 914px;
  height: 1px;
  left: 0;
  background-color: #ffe61b;
}

.cart .group-10 {
  position: absolute;
  width: 458px;
  height: 12px;
  top: 4px;
  left: 462px;
}

.cart .text-wrapper-11 {
  width: 124px;
  height: 12px;
  top: 0;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 22.5px;
  text-align: center;
  position: absolute;
  left: 0;
  color: #d9d9d9;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .text-wrapper-12 {
  position: absolute;
  width: 124px;
  height: 12px;
  top: 0;
  left: 156px;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .text-wrapper-13 {
  position: absolute;
  width: 124px;
  height: 12px;
  top: 0;
  left: 328px;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .overlap-group-wrapper {
  position: absolute;
  width: 939px;
  height: 134px;
  top: 77px;
  left: 0;
}

.cart .overlap-group-2 {
  position: relative;
  width: 943px;
  height: 134px;
}

.cart .group-11 {
  position: absolute;
  width: 943px;
  height: 134px;
  top: 0;
  left: 0;
}

.cart .image {
  position: absolute;
  width: 100px;
  height: 134px;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 30px;
}

.cart .text-wrapper-14 {
  position: absolute;
  width: 281px;
  height: 12px;
  top: 52px;
  left: 115px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .text-wrapper-15 {
  top: 52px;
  left: 426px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  width: 195px;
  height: 12px;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .text-wrapper-16 {
  top: 52px;
  left: 742px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  width: 195px;
  height: 12px;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .group-12 {
  position: absolute;
  width: 28px;
  height: 29px;
  top: 43px;
  left: 667px;
}

.cart .text-wrapper-17 {
  position: absolute;
  width: 26px;
  height: 29px;
  top: 0;
  left: 0;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .text-wrapper-18 {
  position: absolute;
  width: 261px;
  height: 16px;
  top: 83px;
  left: 125px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .overlap-wrapper {
  position: absolute;
  width: 939px;
  height: 134px;
  top: 230px;
  left: 0;
}

.cart .group-13 {
  position: absolute;
  width: 559px;
  height: 50px;
  top: 271px;
  left: 0;
}

.cart .text-wrapper-19 {
  position: absolute;
  height: 16px;
  top: 2px;
  left: 0;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .group-14 {
  position: absolute;
  width: 326px;
  height: 50px;
  top: 0;
  left: 231px;
}

.cart .overlap-group-3 {
  position: relative;
  width: 330px;
  height: 50px;
}

.cart .group-15 {
  position: absolute;
  width: 330px;
  height: 48px;
  top: 0;
  left: 0;
}

.cart .text-wrapper-20 {
  position: absolute;
  width: 291px;
  height: 16px;
  top: 2px;
  left: 35px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .text-wrapper-21 {
  position: absolute;
  width: 291px;
  height: 16px;
  top: 32px;
  left: 35px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
}

.cart .group-16 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30px;
  left: 0;
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
}

.cart .group-17 {
  position: absolute;
  width: 369px;
  height: 12px;
  top: 1651px;
  left: 537px;
}

.cart .text-wrapper-22 {
  position: absolute;
  width: 170px;
  height: 12px;
  top: 0;
  left: 0;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #1f1f1f;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

.cart .text-wrapper-23 {
  top: 0;
  left: 170px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  position: absolute;
  width: 195px;
  height: 12px;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.cart .button-finished {
  position: absolute;
  width: 150px;
  height: 55px;
  top: 1713px;
  left: 634px;
  background-color: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
}

.cart .text-wrapper-24 {
  position: absolute;
  width: 150px;
  height: 55px;
  top: 19px;
  left: 0;
  font-family: "Space Grotesk-SemiBold", Helvetica;
  font-weight: 600;
  color: #1f1f1f;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}
/* Menambahkan gaya baru untuk radio button */
.cart .group-14 .radio-wrapper {
  display: flex;
  align-items: center;
}

.cart .radio-input {
  margin-right: 10px; /* Jarak antara radio button dan teks */
  appearance: none; /* Hapus gaya default radio button */
  width: 17px; /* Lebar radio button */
  height: 17px; /* Tinggi radio button */
  border: 2px solid #ffe61b; /* Garis tepi kuning */
  border-radius: 50%; /* Membuat bentuk bulat */
  outline: none; /* Hapus border saat tidak dalam fokus */
  transition: background-color 0.3s ease; /* Efek transisi */
  background-color: transparent; /* Latar belakang transparan */
}

.cart .radio-input:checked {
  background-color: #ffe61b; /* Warna latar belakang ketika dipilih */
}

/* Gaya untuk label radio button */
.cart.radio-label {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

/* Gaya untuk radio button */
.cart .radio-input {
  margin-bottom: 10px;
}
