body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #1f1f1f;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #1f1f1f;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  font-family: "Space Grotesk-Bold", Helvetica;
}

.navbar .navbar-nav,
.navbar .navbar-extra {
  display: flex;
}

.navbar .navbar-nav a:hover {
  color: #a6a6a6;
}
.navbar .navbar-nav a,
.navbar .navbar-extra a {
  color: #ffe61b;
  display: inline-block;
  font-size: 23px;
  margin: 0 1rem;
  margin-top: 20px;
  text-decoration: none;
  position: relative;
}

.navbar .navbar-nav a.active::after,
.navbar .navbar-extra a.active::after,
.navbar .navbar-nav a:hover::after,
.navbar .navbar-extra a:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffe61b;
  bottom: 0;
  left: 0;
}

.navbar .navbar-nav a.active::after,
.navbar .navbar-extra a.active::after {
  transform: scaleX(1);
  transition: transform 0.2s linear;
}

.navbar .navbar-nav a:hover::after,
.navbar .navbar-extra a:hover::after {
  transform: scaleX(1);
  transition: transform 0.2s linear;
}

.navbar .navbar-extra {
  margin-left: auto;
}

.navbar .navbar-extra a:hover {
  color: #ffe61b;
}
.account-profile {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.account-profile .div {
  background-color: #1f1f1f;
  width: 1440px;
  height: 1613px;
  position: relative;
}

.account-profile .group {
  position: absolute;
  width: 299px;
  height: 16px;
  top: 58px;
  left: 1018px;
}

.account-profile .group-2 {
  position: relative;
  height: 16px;
}

.account-profile .account {
  width: 103px;
  top: 0;
  left: 114px;
  position: absolute;
  height: 16px;
}

.account-profile .text-wrapper {
  top: -1px;
  left: 0;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffe61b;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
  white-space: nowrap;
  position: absolute;
  height: 16px;
}

.account-profile .cart {
  width: 52px;
  top: 0;
  left: 247px;
  position: absolute;
  height: 16px;
}

.account-profile .text-wrapper-2 {
  top: -1px;
  left: 0;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffe61b;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  position: absolute;
  height: 16px;
}

.account-profile .search {
  width: 84px;
  top: 0;
  position: absolute;
  height: 16px;
  left: 0;
  border: none;
  background: none;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffe61b;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  padding: 0;
  padding-left: 0;
}

.account-profile .group-3 {
  position: absolute;
  width: 264px;
  height: 16px;
  top: 58px;
  left: 122px;
}

.account-profile .group-4 {
  position: absolute;
  width: 166px;
  height: 16px;
  top: 0;
  left: 98px;
}

.account-profile .shop {
  width: 62px;
  height: 16px;
  top: 0;
  position: absolute;
  left: 0;
}

.account-profile .about {
  position: absolute;
  width: 74px;
  height: 16px;
  top: 0;
  left: 92px;
}

.account-profile .home {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 0;
  left: 0;
}

.account-profile .group-5 {
  position: absolute;
  width: 504px;
  height: 68px;
  top: 224px;
  left: 470px;
}

.account-profile .text-wrapper-3 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 211px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.account-profile .text-wrapper-4 {
  position: absolute;
  width: 500px;
  height: 16px;
  top: 52px;
  left: 0;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.account-profile .group-6 {
  position: absolute;
  width: 203px;
  height: 55px;
  top: 392px;
  left: 619px;
}

.account-profile .address {
  width: 201px;
  top: 39px;
  left: 0;
  position: absolute;
  height: 16px;
}

.account-profile .text-wrapper-5 {
  top: -1px;
  left: 56px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
  white-space: nowrap;
  position: absolute;
  height: 16px;
}

.account-profile .text-wrapper-6 {
  top: 0;
  left: 4px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  position: absolute;
  height: 16px;
}

.account-profile .overlap {
  position: absolute;
  width: 1301px;
  height: 650px;
  top: 447px;
  left: 124px;
}

.account-profile .sign-out {
  position: absolute;
  width: 100px;
  height: 16px;
  top: 325px;
  left: 546px;
}

.account-profile .text-wrapper-7 {
  position: absolute;
  height: 16px;
  top: -1px;
  left: -2px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.account-profile .overlap-group {
  position: absolute;
  width: 1301px;
  height: 650px;
  top: 0;
  left: 0;
}

.account-profile .img {
  position: absolute;
  width: 400px;
  height: 600px;
  top: -10px;
  left: 1000px;
}

.account-profile .group-7 {
  position: absolute;
  width: 1192px;
  height: 61px;
  top: 541px;
  left: 0;
}

.account-profile .group-8 {
  position: absolute;
  width: 596px;
  height: 61px;
  top: 0;
  left: 0;
}

.account-profile .text-wrapper-8 {
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.account-profile .p {
  position: absolute;
  height: 29px;
  top: 32px;
  left: 0;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: normal;
}

.account-profile .overlap-group-wrapper {
  position: absolute;
  width: 552px;
  height: 50px;
  top: 7px;
  left: 642px;
}

.account-profile .overlap-group-2 {
  position: relative;
  width: 550px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.account-profile .text-wrapper-9 {
  position: absolute;
  height: 16px;
  top: 17px;
  left: 22px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #1f1f1f80;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.account-profile .vector {
  position: absolute;
  width: 27px;
  height: 20px;
  top: 15px;
  left: 502px;
}

.account-profile .group-9 {
  position: absolute;
  width: 1181px;
  height: 149px;
  top: 1249px;
  left: 129px;
}

.account-profile .SFD-logo-white {
  position: absolute;
  width: 229px;
  height: 149px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.account-profile .group-10 {
  position: absolute;
  width: 134px;
  height: 144px;
  top: 0;
  left: 429px;
}

.account-profile .group-11 {
  position: absolute;
  width: 138px;
  height: 87px;
  top: 57px;
  left: 0;
}

.account-profile .text-wrapper-10 {
  position: absolute;
  height: 29px;
  top: 0;
  left: 0;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.account-profile .text-wrapper-11 {
  position: absolute;
  height: 29px;
  top: 58px;
  left: 2px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.account-profile .text-wrapper-12 {
  position: absolute;
  height: 29px;
  top: 29px;
  left: 2px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.account-profile .group-12 {
  position: absolute;
  width: 121px;
  height: 115px;
  top: 0;
  left: 761px;
}

.account-profile .group-13 {
  position: absolute;
  width: 123px;
  height: 58px;
  top: 57px;
  left: 0;
}

.account-profile .text-wrapper-13 {
  position: absolute;
  height: 29px;
  top: 29px;
  left: 0;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.account-profile .group-14 {
  position: absolute;
  width: 103px;
  height: 105px;
  top: 0;
  left: 1080px;
}

.account-profile .group-15 {
  position: absolute;
  width: 101px;
  height: 48px;
  top: 57px;
  left: 0;
}

.account-profile .icon-instagram {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 53px;
}

.account-profile .icon-whatsapp {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.account-profile .copyright {
  position: absolute;
  width: 460px;
  height: 57px;
  top: 1497px;
  left: 490px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
