body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #1f1f1f;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #1f1f1f;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  font-family: 'Space Grotesk-Bold', Helvetica;
}

.navbar .navbar-nav,
.navbar .navbar-extra {
  display: flex;
}

.navbar .navbar-nav a:hover {
  color: #ffe61b;
}
.navbar .navbar-nav a,
.navbar .navbar-extra a {
  color: #ffe61b;
  display: inline-block;
  font-size: 23px;
  margin: 0 1rem;
  margin-top: 20px;
  text-decoration: none;
  position: relative;
}

.navbar .navbar-nav a.active::after,
.navbar .navbar-extra a.active::after,
.navbar .navbar-nav a:hover::after,
.navbar .navbar-extra a:hover::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffe61b;
  bottom: 0;
  left: 0;
}

.navbar .navbar-nav a.active::after,
.navbar .navbar-extra a.active::after {
  transform: scaleX(1);
  transition: transform 0.2s linear;
}

.navbar .navbar-nav a:hover::after,
.navbar .navbar-extra a:hover::after {
  transform: scaleX(1);
  transition: transform 0.2s linear;
}

.navbar .navbar-extra {
  margin-left: auto;
}

.navbar .navbar-extra a:hover {
  color: #ffe61b;
}

.shop .group {
  position: absolute;
  width: 299px;
  height: 16px;
  top: 58px;
  left: 1019px;
}

.shop .group-2 {
  position: relative;
  height: 16px;
}

.shop .account {
  width: 103px;
  top: 0;
  left: 114px;
  position: absolute;
  height: 16px;
}

.shop .text-wrapper {
  top: -1px;
  left: 0;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #ffe61b;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  position: absolute;
  height: 16px;
}

.shop .cart {
  width: 52px;
  top: 0;
  left: 247px;
  position: absolute;
  height: 16px;
}

.shop .search {
  width: 84px;
  top: 0;
  position: absolute;
  height: 16px;
  left: 0;
  border: none;
  background: none;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #ffe61b;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  padding: 0;
  padding-left: 0;
}

.shop .group-3 {
  position: absolute;
  width: 1181px;
  height: 149px;
  top: 2087px;
  left: 129px;
}

.shop .SFD-logo-white {
  position: absolute;
  width: 229px;
  height: 149px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.shop .group-4 {
  position: absolute;
  width: 134px;
  height: 144px;
  top: 0;
  left: 429px;
}

.shop .text-wrapper-2 {
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.shop .group-5 {
  position: absolute;
  width: 138px;
  height: 87px;
  top: 57px;
  left: 0;
}

.shop .text-wrapper-3 {
  height: 29px;
  top: 0;
  font-size: 22.5px;
  text-align: center;
  line-height: normal;
  position: absolute;
  left: 0;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  letter-spacing: 0;
}

.shop .text-wrapper-4 {
  height: 29px;
  top: 58px;
  left: 2px;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  font-size: 22.5px;
  text-align: center;
  line-height: normal;
  position: absolute;
  color: #d9d9d9;
  letter-spacing: 0;
}

.shop .text-wrapper-5 {
  height: 29px;
  top: 29px;
  left: 2px;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  font-size: 22.5px;
  text-align: center;
  line-height: normal;
  position: absolute;
  color: #d9d9d9;
  letter-spacing: 0;
}

.shop .group-6 {
  position: absolute;
  width: 121px;
  height: 144px;
  top: 0;
  left: 761px;
}

.shop .group-7 {
  position: absolute;
  width: 125px;
  height: 87px;
  top: 57px;
  left: 0;
}

.shop .text-wrapper-6 {
  position: absolute;
  height: 29px;
  top: 29px;
  left: 0;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.shop .text-wrapper-7 {
  position: absolute;
  height: 29px;
  top: 58px;
  left: 0;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.shop .group-8 {
  position: absolute;
  width: 103px;
  height: 105px;
  top: 0;
  left: 1080px;
}

.shop .group-9 {
  position: absolute;
  width: 101px;
  height: 48px;
  top: 57px;
  left: 0;
}

.shop .icon-instagram {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 53px;
}

.shop .icon-whatsapp {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.shop .copyright {
  position: absolute;
  height: 58px;
  top: 2335px;
  left: 530px;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.shop .group-10 {
  position: absolute;
  width: 1192px;
  height: 61px;
  top: 1826px;
  left: 124px;
}

.shop .group-11 {
  position: absolute;
  width: 596px;
  height: 61px;
  top: 0;
  left: 0;
}

.shop .p {
  position: absolute;
  height: 29px;
  top: 32px;
  left: 0;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: normal;
}

.shop .overlap-group-wrapper {
  position: absolute;
  width: 552px;
  height: 50px;
  top: 13px;
  left: 642px;
}

.shop .overlap-group {
  position: relative;
  width: 550px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.shop .text-wrapper-8 {
  position: absolute;
  height: 16px;
  top: 17px;
  left: 22px;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  color: #1f1f1f80;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.shop .vector {
  position: absolute;
  width: 27px;
  height: 20px;
  top: 15px;
  left: 502px;
}

.shop .group-12 {
  position: absolute;
  width: 390px;
  height: 52px;
  top: 200px;
  left: 560px;
}

.text-wrapper-8 input {
  border: none;
  background: none;
  outline: none; /* Menghilangkan garis fokus saat diklik */
}

/* Menambahkan gaya teks pada input */
.text-wrapper-8 input[type='text'] {
  font-size: 16px; /* Sesuaikan ukuran teks sesuai keinginan */
  color: #333; /* Sesuaikan warna teks sesuai keinginan */
}

.shop .text-wrapper-9 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 150px;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.shop .text-wrapper-10 {
  position: absolute;
  height: 16px;
  top: 36px;
  left: 0;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.shop .group-13 {
  position: absolute;
  width: 247px;
  height: 178px;
  top: 373px;
  left: 44px;
}

.shop .group-14 {
  position: absolute;
  width: 249px;
  height: 40px;
  top: 0;
  left: 0;
}

.shop .text-wrapper-11 {
  position: absolute;
  width: 112px;
  height: 16px;
  top: 3px;
  left: 0;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.shop .img {
  position: absolute;
  width: 35px;
  height: 22px;
  top: 0;
  left: 212px;
}

.shop .line {
  position: absolute;
  width: 247px;
  height: 2px;
  top: 38px;
  left: 0;
  object-fit: cover;
}

.shop .group-15 {
  position: absolute;
  width: 144px;
  height: 88px;
  top: 90px;
  left: 0;
}

.shop .cat-t-shirts {
  position: absolute;
  width: 92px;
  height: 16px;
  top: 0;
  left: 0;
}

.shop .text-wrapper-12 {
  position: absolute;
  height: 16px;
  top: -1px;
  left: 0;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.shop .cat-accessories {
  width: 144px;
  top: 36px;
  position: absolute;
  height: 16px;
  left: 0;
}

.shop .cat-stationary {
  width: 127px;
  top: 72px;
  position: absolute;
  height: 16px;
  left: 0;
}

.shop .group-16 {
  position: absolute;
  width: 1075px;
  height: 1250px;
  top: 376px;
  left: 321px;
}

.shop .group-17 {
  position: absolute;
  width: 1075px;
  height: 575px;
  top: 0;
  left: 0;
}

.shop .group-17 .image {
  border-radius: 30px;
}

.shop .group-18 {
  position: absolute;
  width: 345px;
  height: 575px;
  top: 0;
  left: 0;
  margin-left: 30px;
}

.shop .group-18 .image {
  border-radius: 30px;
}

.shop .image {
  position: absolute;
  width: 345px;
  height: 460px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.shop .group-19 {
  position: absolute;
  width: 351px;
  height: 90px;
  top: 485px;
  left: 0;
}

.shop .group-19 .image {
  border-radius: 30px;
}

.shop .text-wrapper-13 {
  position: absolute;
  width: 345px;
  height: 16px;
  top: 0;
  left: 0;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
}

.shop .text-wrapper-14 {
  width: 93px;
  height: 16px;
  top: 37px;
  font-size: 25px;
  line-height: 16px;
  position: absolute;
  left: 0;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  letter-spacing: 0;
}

.shop .text-wrapper-15 {
  position: absolute;
  width: 166px;
  height: 16px;
  top: 74px;
  left: 0;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
}

.shop .group-20 {
  position: absolute;
  width: 345px;
  height: 575px;
  top: 0;
  left: 365px;
  border-radius: 30px;
  margin-left: 30px;
}

.shop .group-20 .image {
  border-radius: 30px;
}

.shop .text-wrapper-16 {
  height: 16px;
  top: 37px;
  left: 0;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  font-size: 25px;
  line-height: 16px;
  white-space: nowrap;
  position: absolute;
  color: #d9d9d9;
  letter-spacing: 0;
}

.shop .group-21 {
  position: absolute;
  width: 345px;
  height: 575px;
  top: 0;
  left: 730px;
  margin-left: 30px;
}

.shop .group-21 .image {
  border-radius: 30px;
}

.shop .group-22 {
  position: absolute;
  width: 1075px;
  height: 575px;
  top: 675px;
  left: 0;
}
.shop .group-22 .image {
  border-radius: 30px;
}

.shop .group-23 {
  position: absolute;
  width: 264px;
  height: 16px;
  top: 58px;
  left: 122px;
}
.shop .group-23 .image {
  border-radius: 30px;
}

.shop .div-wrapper {
  position: absolute;
  width: 62px;
  height: 16px;
  top: 0;
  left: 98px;
}

.shop .text-wrapper-17 {
  position: absolute;
  height: 16px;
  top: -1px;
  left: 0;
  font-family: 'Space Grotesk-Bold', Helvetica;
  font-weight: 700;
  color: #ffe61b;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
  white-space: nowrap;
}

.shop .about {
  position: absolute;
  width: 74px;
  height: 16px;
  top: 0;
  left: 190px;
}

.shop .text-wrapper-3 a {
  color: #d9d9d9; /* Ganti dengan warna yang Anda inginkan */
  text-decoration: none; /* Untuk menghilangkan garis bawah */
}

/* Untuk memberikan efek hover yang konsisten */
.shop .text-wrapper-3 a:hover {
  color: #ffe61b;
}
